<a href="https://colab.research.google.com/github/bidallei/MIAAD-UACJ/blob/main/Practica12_16_263150.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Limpieza y Transformación de Datos-Prácticas 12,13,14,15,16

El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.

**Instrucciones:**

Descarga el archivo CSV, miaad-nyc-r-s.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
Crea un notebook en colab y guarda el archivo csv descargado en tu drive.
Agrega secciones en el colab poniendo como título el nombre de la práctica

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Práctica 12: Carga de Datos**

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

* Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
* Usa df.tail(3) para demostrar que no has cargado la última línea
* Imprime la cantidad de filas y columnas del dataframe

In [ ]:
# Importamos la librería de pandas y asignamos un alias (pd)
import pandas as pd

# Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv", skipfooter=1, engine='python')

# Usa df.tail(3) para demostrar que no has cargado la última línea
print(df.tail(3))
print("\n" + "="*50 + "\n")

# Imprime la cantidad de filas y columnas del dataframe
print(f'Cantidad de filas: {df.shape[0]}')
print(f'Cantidad de columnas: {df.shape[1]}')

       Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545        8411        5      WOODROW
84546        8412        5      WOODROW
84547        8413        5      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

       BLOCK  LOT EASE-MENT BUILDING CLASS AT PRESENT                ADDRESS  \
84545   7351   60                                  B2       49 PITNEY AVENUE
84546   7100   28                                  K6  2730 ARTHUR KILL ROAD
84547   7105  679                                  P9      155 CLAY PIT ROAD

       ... RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  \
84545  ...                 2                 0            2              4000
84546  ...                 0                 7            7            208033
84547  ...                 0                 1            1             10796

       GROSS SQUARE FEET YEAR BUILT TAX CLASS AT TIME OF SALE  \
84545               1496       1925                         1
84546              64117       2001                         4
84547               2400       2006                         4

       BUILDING CLASS AT TIME OF SALE  SALE PRICE            SALE DATE
84545                              B2      460000  2017-07-05 00:00:00
84546                              K6    11693337  2016-12-21 00:00:00
84547                              P9       69300  2016-10-27 00:00:00

[3 rows x 22 columns]

==================================================

Cantidad de filas: 84548
Cantidad de columnas: 22


**Práctica 13: Agregar una columna**

* Imprime los nombres de la columnas del archivo
* Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD. Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [ ]:
# Importamos la librería de pandas y asignamos un alias (pd)
import pandas as pd

# Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv", skipfooter=1, engine='python')

# Imprime los nombres de la columnas del archivo
print(f'Nombres de las columnas: \n{df.columns}')
print("\n" + "="*50 + "\n")

# Agrega el nombre de la primera columna: INDEX MIIAD.
df.columns.values[0] = 'INDEX MIIAD'

# vuelve a imprimir los nombres para mostrar el cambio realizado
print(f'Nombres de las columnas con el cambio: \n{df.columns}')

Nombres de las columnas:
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

==================================================

Nombres de las columnas con el cambio:
Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

**Práctica 14: Normalización de los nombres de la columna.**

* Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guión bajo
* Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [ ]:
# Importamos la librería de pandas y asignamos un alias (pd)
import pandas as pd

# Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv", skipfooter=1, engine='python')
df.columns.values[0] = 'INDEX MIIAD'

print(df.columns)
print("\n" + "="*50 + "\n")

# Normaliza los nombres de las columnas, los cuales deberán estar en minúsculas. Asimismo, reemplaza los espacios con guión bajo
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Imprime los nombres de las columnas para demostrar que has realizado la normalización.
print(df.columns)

Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

==================================================

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

**Práctica 15: Errores en los Tipos de Datos**

* Imprime los tipos de datos de cada columna.
* Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante. Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
* Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [ ]:
# Importamos la librería de pandas y asignamos un alias (pd)
import pandas as pd

# Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv", skipfooter=1, engine='python')
df.columns.values[0] = 'INDEX MIIAD'
df.columns = df.columns.str.lower().str.replace(" ", "_")

# Imprime los tipos de datos de cada columna.
print(f'====== DATOS DE CADA COLUMNA ====== \n{df.dtypes}')
print("\n" + "="*50 + "\n")

# Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante.
# Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.
print('=== TIPOS DE DATOS DE COLUMNAS ESPECÍFICAS ===')
print(f'La columna sale_price es tipo: {df["sale_price"].dtype}')
print(f'La columna land_square_feet es tipo: {df["land_square_feet"].dtype}')
print(f'La columna gross_square_feet es tipo: {df["gross_square_feet"].dtype}')
print("\n" + "="*50 + "\n")

if df["sale_price"].dtype == 'object':
  df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
if df["land_square_feet"].dtype == 'object':
  df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
if df["gross_square_feet"].dtype == 'object':
  df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')

# Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

print('=== TIPOS DE DATOS DESPUÉS DE LA CONVERSIÓN ===')
print(f'La columna sale_price es tipo: {df["sale_price"].dtype}')
print(f'La columna land_square_feet es tipo: {df["land_square_feet"].dtype}')
print(f'La columna gross_square_feet es tipo: {df["gross_square_feet"].dtype}')

====== DATOS DE CADA COLUMNA ======
index_miiad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

==================================================

=== TIPOS DE DATOS DE COLUMNAS ESPECÍFICAS ===
La columna sale_price es tipo: object
La columna land_square_feet es tipo: object
La columna gross_square_feet es tipo: object

==================================================

=== TIPOS DE DATOS DESPUÉS DE LA CONVERSIÓN ===
La columna sale_price es tipo: float64
La columna land_square_feet es tipo: float64
La columna gross_square_feet es tipo: float64

**Práctica 16: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario**

In [ ]:
# Importamos la librería de pandas y asignamos un alias (pd)
import pandas as pd

# Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
df = pd.read_csv("/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv", skipfooter=1, engine='python')
df.columns.values[0] = 'INDEX MIIAD'
df.columns = df.columns.str.lower().str.replace(" ", "_")
if df["sale_price"].dtype == 'object':
  df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
if df["land_square_feet"].dtype == 'object':
  df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
if df["gross_square_feet"].dtype == 'object':
  df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')

# Genera el diccionario de datos del dataframe preprocesado.
diccionario_datos = {
    'estructura': {
        'filas': df.shape[0],
        'columnas': df.shape[1],
        'columnas_lista': df.columns.tolist()
    },
    'tipos_datos': df.dtypes.astype(str).to_dict(),
}
# Imprime el contenido de dicho diccionario
import json
print(json.dumps(diccionario_datos, indent=2, ensure_ascii=False))

{
  "estructura": {
    "filas": 84548,
    "columnas": 22,
    "columnas_lista": [
      "index_miiad",
      "borough",
      "neighborhood",
      "building_class_category",
      "tax_class_at_present",
      "block",
      "lot",
      "ease-ment",
      "building_class_at_present",
      "address",
      "apartment_number",
      "zip_code",
      "residential_units",
      "commercial_units",
      "total_units",
      "land_square_feet",
      "gross_square_feet",
      "year_built",
      "tax_class_at_time_of_sale",
      "building_class_at_time_of_sale",
      "sale_price",
      "sale_date"
    ]
  },
  "tipos_datos": {
    "index_miiad": "int64",
    "borough": "int64",
    "neighborhood": "object",
    "building_class_category": "object",
    "tax_class_at_present": "object",
    "block": "int64",
    "lot": "int64",
    "ease-ment": "object",
    "building_class_at_present": "object",
    "address": "object",
    "apartment_number": "object",
    "zip_code": "int64",
    "residential_units": "int64",
    "commercial_units": "int64",
    "total_units": "int64",
    "land_square_feet": "float64",
    "gross_square_feet": "float64",
    "year_built": "int64",
    "tax_class_at_time_of_sale": "int64",
    "building_class_at_time_of_sale": "object",
    "sale_price": "float64",
    "sale_date": "object"
  }
}